* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.code-wrapper {
    flex: 1;
    height: 50%;
    padding: 10px;
    border: 1px dotted grey;
}

.preview-wrapper {
    flex: 1;
    height: 50%;
}

#code {
    overflow: hidden;
    height: 100%;
}

.actions {
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.actions>button {
    margin: 12px;
    background: #ddd;
    padding: 8px 10px;
    border: none;
    transition: all .3s;
}

.actions>button.active {
    box-shadow: 2px 2px 2px rgba(61, 204, 17, 0.8);
    color: #eb1741;
    border-radius: 3px;
    font-size: 15px;

}

.actions>button:focus {
    outline: none;
}